body { padding-top: 87px; }
.navbar { border-radius: 0;}
.panel { height: 170px !important; }
.panel .dropdown { display: none; }
.panel:hover .dropdown {
  display: block;
}
#alerter {
  display: block;
  position: absolute;
  top: 90px;
  right: 12px;
  float: right;
  z-index: 50;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.editable {
  height: 37px !important;
  padding-left: 15px !important;
  margin-top: 23 !important;
  margin-bottom: 11.5px !important;
}
.ticker .great { background-color: hsl(90, 80%, 66%); }
.ticker .good { background-color: hsl(65, 80%, 73%); }
.ticker .ok { background-color: hsl(40, 80%, 70%); }
.ticker .junk { background-color: hsl(5, 50%, 70%); }
